# Binary Executables
MinecraftClient

# Backup & Logs
MinecraftClient.backup.ini
*.log
console-log.txt
chatlog-*.txt
alerts-log.txt
playerlog.txt

# Rendered outputs & runtime caches
Rendered_Maps/
*.bin

# Environment & Dependencies
.env
node_modules/
__pycache__/
*.pyc

